.loading-spinner {
  color: var(--logo-gradient-1) !important;
  margin-left: 10px;
}

.table-header {
  background-color: var(--background-light);
  font-size: 16px;
}

.column-menu-button {
  visibility: visible !important;
  width: 35px !important;
}

.table-cell {
  background-color: white;
}