.interaction-table-container {
  color: var(--text-primary);
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    display: inline-block;
    color: var(--text-primary);
    font-size: 2rem;
  }

  #interaction-count {
    margin-left: 10px;
  }
}

.ant-table {
  background-color: var(--background);
  color: var(--text-primary);

  &:hover {
    background-color: var(--background);
  }
}

.ant-table-thead tr th, .ant-table-tbody tr.ant-table-row:hover td {
  background-color: var(--background-light);
  color: var(--text-primary);
}

.cursor-pointer {
  cursor: pointer;
}