.interaction-table-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    display: inline-block;
    color: var(--text-content);
    font-size: 2rem;
  }

  #interaction-count {
    margin-left: 10px;
  }
}

.ant-table {
  color: var(--text-content);
}

.ant-table-thead tr th, .ant-table-tbody tr.ant-table-row:hover td {
  background-color: var(--background-light);
  color: var(--text-content);
}
