.gene-summary-container {
  color: var(--text-primary);
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: var(--text-primary);
    font-size: 2rem;
  }

  h4 {
    color: var(--text-primary);
    font-size: 1.4rem;
  }

  .gene-summary-content {
    display: flex;

    .interaction-count-container {
      border: 1px var(--text-primary) solid;
      margin-right: 7px;
      padding: 10px;
      min-height: 400px;
      flex-grow: 1;

      .interaction-count-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 1.2rem;
      }

      .interaction-count-row {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        // background-color: var(--background-light);
        // padding: 2px;

        &:hover {
          background-color: var(--background-light);
          cursor: pointer;
        }

        .interaction-count-gene {
          padding: 0 10px;
        }

        .interaction-count {
          padding: 0 10px;
        }
      }
    }

    .summary-infographic-container {
      border: 1px var(--text-primary) solid;
      padding: 10px;
      // flex-grow: 4;
      width: 80%;
      // width: 500px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      height: 500px;

      .chart-section {
        .score-container {
          // width: 100%;
          margin: 0 auto;
        }
        .type-container {
          margin: 0 auto;
        }
        .directionality-container {
          width: 300px;
          margin: 0 auto;
        }
        .approval-container {
          margin: 0 auto;
        }
      }



      .chart-selector {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
      }

    }
  }
}
