// Variables
$primary-color: #5462ff;
$primary-hover: #6370fc;
$primary-active: #767ffc;

$primary-contrast: white;

$secondary-contrast: #ededf3;
$secondary-contrast-hover: #f0f0f7;
$secondary-contrast-active: #f5f5fc;

$tertiary-color: #ff4b81;
$tertiary-active: #ffdde7;
$tertiary-hover: #fcf1f4;

$disabled-text: white;
$disabled-contrast: #aaaaac;

$high-shadow: drop-shadow(1px 1px 1px #808080);
$medium-shadow: drop-shadow(1px 1px 1px #a0a0a0);
$low-shadow: drop-shadow(0px 0px 1px #808080);

.button-action-component {
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  padding: 7px;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.primary {
  filter: $high-shadow;
  background-color: $primary-color;
  color: $primary-contrast;
  cursor: pointer;

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    filter: $low-shadow;
    background-color: $primary-active;
  }
}

.secondary {
  padding: 6px;
  filter: $medium-shadow;
  background-color: $secondary-contrast;
  color: $primary-color;
  cursor: pointer;

  &:hover {
    background-color: $secondary-contrast-hover;
  }

  &:active {
    color: $primary-hover;
    background-color: $secondary-contrast-active;
    filter: $low-shadow;
  }
}

.tertiary {
  padding: 5px;
  border: 2px solid $tertiary-color;
  color: $tertiary-color;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: $tertiary-hover;
  }

  &:active {
    background-color: $tertiary-active;
  }
}

.disabled {
  border: none !important;
  color: $disabled-text;
  padding: 7px;
  filter: none !important;
  cursor: not-allowed;
  background-color: $disabled-contrast !important;
}
