*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #480a77 */

:root {
  --background: #180a20;
  --background-light: #3B2F41;
  --theme-primary: #480a77;
  --text-primary: white;
  --logo-gradient-1: #f7f7f8; 
  --logo-gradient-2: #ada7bd; 
  --medium-screen: 1200px;
  --small-screen: 740px;
}

[data-theme='light'] {
  --background: white;
  --background-light: rgb(201, 204, 224);
  --theme-primary: #480a77;
  --text-primary: #26282e;
  --logo-gradient-1: #480a77; 
  --logo-gradient-2: #180a20; 
  --chart-fill-1: #480a77;
  --chart-fill-2: #4bc6b9;
  --chart-fill-3: #8075ff;
  --chart-fill-4: #90f1ef;
  --chart-fill-5: #fa198b;
  --chart-fill-6: #ffa69e;
  --chart-fill-7: #efc7e5;
}


[data-theme='dark'] {
  --background: #180a20;
  --theme-primary: #480a77;
  --text-primary: #e8eaed;
}
