.gene-summary-container {
  color: var(--text-primary);
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: var(--text-primary);
    font-size: 2rem;
  }

  h4 {
    color: var(--text-primary);
    font-size: 1.4rem;
  }

  .gene-summary-content {
    display: flex;

    .interaction-count-container {
      border: 1px var(--text-primary) solid;
      margin-right: 7px;
      padding: 10px;
      min-height: 400px;
      flex-grow: .5;

      .interaction-count-row {
        display: flex;
        justify-content: space-between;

        .interaction-count-gene {

        }

        .interaction-count {

        }
      }
    }

    .summary-infographic-container {
      border: 1px var(--text-primary) solid;
      padding: 10px;
      flex-grow: 4;
      // width: 500px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      height: 500px;

      .chart-section {
        .score-container {
          width: 600px;
          margin: 0 auto;
        }
        .type-container {
          width: 600px;
          margin: 0 auto;
        }
        .directionality-container {
          width: 300px;
          margin: 0 auto;
        }
        .regulatory-container {
          width: 600px;
          margin: 0 auto;
        }
      }



      .chart-selector {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
      }

    }
  }
}
