.gene-summary-container {
  color: var(--text-content);
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: var(--text-content);
    font-size: 2rem;
  }

  h4 {
    color: var(--text-content);
    font-size: 1.4rem;
  }

  .gene-summary-content {
    display: flex;

    .interaction-count-container {
      border: 1px var(--text-content) solid;
      margin-right: 7px;
      padding: 10px;
      min-height: 400px;
      flex-grow: 1;

      .interaction-count-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 1.2rem;
      }

      .interaction-count-row {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        // background-color: var(--background-light);
        // padding: 2px;

        &:hover {
          background-color: var(--background-dark);
          cursor: pointer;
        }

        .interaction-count-gene {
          padding: 0 10px;
        }

        .interaction-count {
          padding: 0 10px;
        }
      }

      .filtered-by {
        background-color: var(--background-light);
      }
    }

    .summary-infographic-container {
      border: 1px var(--text-content) solid;
      padding: 10px;
      // flex-grow: 4;
      width: 80%;
      // width: 500px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      height: 500px;

      .chart-section {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .score-container {
          height: 50%;
          width: 50%;
        }
        .type-container {
          height: 50%;
          width: 50%;
        }
        .directionality-container {
          // height: 25%;
          // width: 25%;
        }
        .approval-container {
          // height: 40%;
          // width: 40%;

          canvas {
            position: top;
            width: 360px !important;
          }
        }
      }




      .chart-selector {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
      }

    }
  }
}
