.gene-record-container {
  padding: 20px;
  // .gene-record-layout {
  //   display: grid;
  //   grid-template-columns: repeat(6, 1fr);
  //   grid-template-rows: repeat(1, 1fr);
  //   grid-column-gap: 15px;
  //   grid-row-gap: 15px;

  //   .gene-record-info {
  //     border: 1px solid white;
  //     grid-area: 1 / 1 / 2 / 4;
  //   }
  //   .gene-record-aliases {
  //     border: 1px solid white;
  //     grid-area: 1 / 4 / 2 / 7;
  //     max-height: 500px;
  //     overflow: scroll;
  //   }
  //   .gene-record-publications {
  //     border: 1px solid white;
  //     grid-area: 2 / 1 / 3 / 5;
  //     max-height: 500px;
  //     overflow: scroll;

  //     div {
  //       margin-bottom: 10px;
  //     }
  //   }
  //   .gene-record-categories {
  //     border: 1px solid white;
  //     grid-area: 2 / 5 / 3 / 7;;
  //   }
  // }

  .data-box {
    padding: 1rem;
    border: solid white 1px;

    .box-title {
      font-size: 1.4rem;
      font-weight: bold;
    }

    .box-content {
      padding: .5rem;
    }
  }

  .gene-record-upper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(5, 0fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    margin-bottom: 15px;
    // width: 100%;

    .gene-record-info {
      grid-area: 1 / 1 / 2 / 3;
    }
    .gene-record-categories {
      grid-area: 1 / 3 / 2 / 5;
    }

  }

  .gene-record-lower  {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    .gene-record-aliases {
      grid-area: 1 / 1 / 3 / 3;
      overflow: scroll;
      // max-height: 200px;
    }
    .gene-record-publications {
      grid-area: 3 / 1 / 5 / 3;
      overflow: scroll;
      max-height: 300px;
    }
    .gene-record-table {
      grid-area: 1 / 3 / 5 / 7;
    }
  }
}
