.stats-card {
  background-color: var(--background-light) !important;
  padding: 15px;
}

.stats-header {
  align-items: center;
  display: flex;
  gap: 5px;
}

.stats-subtext {
  margin-left: 20px;
}

.bold-count {
  color: var(--theme-primary);
}
