.gene-summary-container {
  color: var(--text-primary);
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: var(--text-primary);
    font-size: 2rem;
  }
}
