.gene-summary-container {
  // color: white !important;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: white !important;
    font-size: 2rem;
  }
}
