.toc-section {
  li {
    padding-left: 24px;
  }
  li:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .toc-section-header {
    padding: 24px 24px 0px 24px;
    h3 {
      font-size: 10em;
    }
  }
  .active {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
