.category-results-container {
  .gene-categories {

    .gene-category-result {
      margin-bottom: 20px;

      .gene-header {
        font-size: 1.2rem;
      }

      .category-info {
        border: var(--text-primary) 1px solid;

        .category-item {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          border-bottom: var(--text-primary) 1px solid;

          .category-name {
            width: 400px;
            padding: 3px 8px;
          }

          .sources-by-category {
            border-left: var(--text-primary) 1px solid;
            flex: 1;
            padding: 3px 8px;
          }
        }

        .category-item:last-child {
          border-bottom: none;
        }
      }
    }
  }
}