.category-results-container {

  .gene-categories {

    .gene-category-result {
      margin-bottom: 20px;

      .gene-header {
        font-size: 1.2rem;
        color: var(--text-primary);
      }

      .category-info {
        border: var(--text-content) 1px solid;

        .category-item {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          border-bottom: var(--text-content) 1px solid;
          font-weight: 300;
          color: var(--text-primary-low);

          .table-header {
            background-color: var(--background-light);
            font-weight: 500;
            color: var(--text-primary-low);
          }

          .category-name {
            width: 400px;
            padding: 3px 8px;
            color: var(--text-primary)
            // background-color: var(--background-light);
          }

          .sources-by-category {
            // background-color: var(--background-light);
            border-left: var(--text-content) 1px solid;
            flex: 1;
            padding: 3px 8px;
            color: var(--text-primary)
          }
        }

        .category-item:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.ant-tabs-tab {
  color: var(--text-primary)
}

.ant-tabs-content {
  padding: 15px;
}

.ant-tabs-tab {
  padding: 15px;
}