.contributors {
  display: flex;
  flex-direction: row;

  .left-section {
    float: left;
    width: 50%;
  }

  .right-section {
    float: left;
    width: 50%;
  }
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 30px;
}
