@import 'utils/styles/variables.scss';

.search-container {
	min-height: 40px;
	right: 340px;
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;

	.search-subcontainer {
		display: flex;

		.search-input {
			max-height: 240px;
			overflow: scroll !important;
			position: relative;

			.ant-select-selector {
				background-color: var(--background);
				color: var(--text-primary);
			}

			.ant-select-selector:focus {
				border-color: var(--text-primary);
			}
			.ant-select-selector:hover {
				border-color: var(--text-primary);
			}

			.ant-select-selection-item {
				color: $primary-purple;
			}

			.ant-select-dropdown {
				width: 50px;
			}

			.search-filters {
				padding: 8px 6px 0 5px;
				cursor: pointer;
				position: absolute;
				top: 1%;
				right: .1%;
				bottom: 40%;
				z-index: 1;
			}
		}

		.search-dropdown {

			.ant-select-selector {
				background-color: var(--background);
				color: var(--text-primary);
			}

			.ant-select-arrow {
				color: var(--text-primary);
			}
		}
	}
}

.filter-options {
	display: flex;
	flex-direction: column;
	font-family: 'Lato' !important;
	.ant-checkbox-wrapper {
		margin: 0;
		color: white;
		font-family: 'Lato' !important;
	}

	h5 {
		color: white;
		font-family: 'Lato';
	}
}

.ant-btn .ant-btn-link {
	text-decoration: underline !important;
}

.ant-popover-inner-content {
	color: white;
	background-color: #480a77;
	font-family: 'Lato';
}

.ant-form-item .ant-select, .ant-form-item .ant-cascader-picker {
	width: 700px;
}

@media screen and (max-width: $medium-screen) {
	.ant-form-item .ant-select, .ant-form-item .ant-cascader-picker {
		width: 400px !important;
	}
}

// @media screen and (max-width: $small-screen) {
// 	.ant-form-item .ant-select, .ant-form-item .ant-cascader-picker {
// 		width: 300px !important;
// 	}
// }
.hi4 {
	display: hidden !important;
}