.browse-cats-container {
  padding: 24px;
}

.browse-cats-title-container {
  margin-bottom: 1.1em;
}

.browse-cats-checkbox-container {
  margin-right: 1em;
  padding: .8em;
  background-color: var(--background-light);
}