.browse-categories-container {
  display: flex;
  flex: stretch;

  .category-list {
    flex: 1;
  }
}

.ant-checkbox-group {
  display: flex;
  flex-direction: column;
}

.ant-checkbox-group-item, .ant-checkbox-wrapper{
  color: var(--text-primary);
}

.ant-collapse {
  background-color: var(--background-primary);

  .ant-collapse-header {
    color: var(--text-primary) !important;
  }

}