*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: red;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: #480a77;
}

[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

[data-theme='dark'] {
  --background: red;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: #480a77;
}

