asttokens==3.0.0
boto3==1.35.84
botocore==1.35.84
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
decorator==5.1.1
executing==2.1.0
idna==3.10
ipython==8.30.0
jedi==0.19.2
jmespath==1.0.1
matplotlib-inline==0.1.7
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.48
psycopg==3.2.3
psycopg-binary==3.2.3
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.10.4
six==1.17.0
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.3
wags_tails==0.2.2
wcwidth==0.2.13
