@import '../../common/styles/variables';

header nav {
	background-color: $primary-bg;
	color: white;
	ul {
		display: flex;
		justify-content: flex-end;
		list-style: none;
		margin: 0 60px;
		padding-top: 20px;

		li {
			margin-left: 60px;
		}
	}
}
