.ambiguous-record-content {
  background-color: var(--soft-background);
  border: 2px solid var(--soft-background);
  border-radius: 0 0 5px 5px;
  border-top: 0;
  padding: 10px;
}

.ambiguous-term-header {
  background-color: var(--background-light);
  border: 2px solid var(--background-light);
  border-radius: 5px 5px 0 0;
}

.unmatched-terms {
  height: fit-content;
  background-color: var(--soft-background);
  border: 2px solid var(--soft-background);
  border-radius: 5px;
  margin-left: 20px;
  padding: 10px;
}

.unmatched-terms-list {
  margin-left: 18px;
}