.about-note-box {
  background-color: var(--background-light) !important;
  padding: 20px;
  h4 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 0px;
  }

  .citation {
    margin-top: 10px;
    font-size: 0.9em;
  }
}
