.results-container {
	font-size: 1rem;
	width: 1200px;
	margin: 0 auto;
	font-family: 'Lato';
	background-color: rgb(240, 235, 235);
	padding: 10px;
	margin-top: 20px;

	h3 {
		font-weight: 700;
	}

	.results-buttons {
		font-size: .8rem;

		.showing{ 
			padding-left: 10px;;
		}

		button {
			margin: 5px 5px 0 0;


		}

		.ant-btn-sm {
			height: 20px !important;
			font-size: 12px;
		}
	}

	/* table */
	.ant-table {
		font-size: 12px;
	}

	.ant-table-cell {
		padding: 2px 0;
	}

	/* row data */
	.ant-table-tbody > tr > td {
		height: 5px;
		// margin: 3px 2px;
		padding: 3px;
	}
	/* row tags */
	.ant-tag {
		font-size: 9px;
		margin: 2px;
		padding: 0 2px;
	}
	.ant-table-thead > tr > th {
		height: 5px;
		padding: 4px;
	}
}
