.playground-page-container {
  background-color: var(--background);
  display: flex;
  color: var(--text-content);

  .main {
    display: contents;
    width: 85%;
  }
}

.collapse-group {
  fontSize: 16;
  width: 15%;
  height: 30px;
  display: block;
}